<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>fbbaubx@pf.pzh.rqh</string>
	<key>contactName</key>
	<string>Soonho Kong</string>
	<key>description</key>
	<string>A bundle for the Lean Theorem Prover.
http://leanprover.github.io

</string>
	<key>name</key>
	<string>Lean</string>
	<key>uuid</key>
	<string>24CFD26B-4DE2-4D0A-AD3B-A8C5D72CE5C3</string>
</dict>
</plist>
